---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---
<footer class="fixed bottom-5 w-full">
    <div class="flex flex-row justify-center">
        <div class="mt-8 md:order-1 md:mt-0">
            <p class="text-center text-base text-gray-600">
                &copy; 2024 by {title}
            </p>
        </div>
    </div>
</footer>